body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-helvetica: Helvetica;

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-sm: 14px;
  --font-size-base-4: 16.4px;
  --font-size-2xs: 11px;
  --font-size-base: 16px;
  --font-size-xs: 12px;
  --font-size-mini: 15px;

  /* Colors */
  --color-white: #fff;
  --color-dimgray: #717171;
  --color-dimgray-100: #6d6d6d;
  --color-gray: #222;
  --color-gainsboro: #ddd;
  --color-darkslategray: #283c46;
  --color-orangered: #ff5400;

  /* Gaps */
  --gap-xs: 12px;
  --gap-9xs: 4px;
  --gap-xl: 20px;
  --gap-8xs: 5px;
  --gap-smi: 13px;
  --gap-12xs: 1px;
  --gap-7xs: 6px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-12xs: 1px;
  --padding-base: 16px;
  --padding-mid: 17px;
  --padding-lg: 18px;
  --padding-lgi: 19px;
  --padding-smi: 13px;
  --padding-9xs: 4px;
  --padding-8xs: 5px;
  --padding-5xs: 8px;
  --padding-6xs: 7px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-5xl: 24px;
  --br-mini: 15px;
  --br-9xs: 4px;
  --br-8xs-9: 4.9px;
}
